body, html {
margin:0px;
padding:0px;
}
body {
font-family:Verdana,Geneva,sans-serif;
font-size:11px;
}
input{
font-size:11px;
font-family:Verdana,Geneva,sans-serif;
}
#layout {
width:875px;
margin:0 auto;
}
#header-shell {
margin:0 auto;
text-align:left;
}
#header {
height:95px;
}
#auth_area{
height:90px;
width:325px;
float:right;
text:right;
}
#auth_area .button{
font-family: Tahoma, Helvetica, sans-serif;
font-size: 11px;
padding: 2px 3px;
}
#auth_box{
padding-top:20px;
}
#auth_box td {
padding-right:2px;
}
#top {
height:45px;
}
#top a {
line-height:28px;
width:150px;
}
.hidden{
display:none;
}
#logged_box{
padding-top: 70px;
text-align: right;
}
td {
padding:5px;
}

