{% from "_formhelpers.html" import render_field %}
<form method='post' action='{{ action }}{{ id }}'>
	{{ form.hidden_tag() }}
	<dl>
		{{ render_field(form.name) }}
	</dl>
	<p><input type='submit' value='{{ value }}'>
</form>

