{% from "_formhelpers.html" import render_field %}
<form method='post' action='{{ action }}{{ id }}'>
	{{ form.hidden_tag() }}
	<dl>
		{{render_field(form.name)}}
	</dl>
	<dl>
		{{render_field(form.books, rows=form.books.choices|length, multiple=True)}}
	</dl>
	<p><input type='submit' value='{{ value }}'>
</form>
