{% extends 'index.html' %}
{% block auth %}
{% if current_user.is_authenticated() %}
<div id="logged_box">
	Hello, {{ current_user.name }}!
	<a href="{{ url_for('logout') }}">Log out</a>
</div>
{% else %}
<div id="auth_area">
	<div id="auth_box">
		<form name="auth" method="post" action="{{url_for('login', next=request.path)}}">
			{{login_form.hidden_tag()}}
			<table cellpadding=0 cellspacing=0>
				<tr><td>{{login_form.login(placeholder="Username")}}</td>
					<td>{{login_form.password(placeholder="Password")}}</td>
					<td><input type="submit" value="Login"></td></tr>
				<tr><td>{{login_form.remember_me}} Remember login</td></tr>
			</table>
		</form>
	</div>
</div>
</form>
{% endif %}
{% endblock %}
