{% extends 'auth.html' %}
{% block content %}
<table>
{% for author_books in books %}
<tr>
	<td>
		<div class="author">
		{{ author_books[0].name }}
		</div>
	</td>
	{%if current_user.is_authenticated() and current_user.role > 0 %}
	<td>
		<form action="{{url_for('edit_author', author_id=author_books[0].id)}}">
			<input type="submit" value="&#9998;">
		</form>
	</td>
	<td>
		<form action="{{url_for('remove_author', author_id=author_books[0].id)}}">
			<input type="submit" value="X">
		</form>
	</td>
	{%endif %}
	<td>
	{% for book in author_books[1] %}
		<div class="book">
		{{ book.name }}
		</div>
	{% endfor %}
	</td>
</tr>
{% endfor %}
{% if current_user.is_authenticated() and current_user.role > 0 %}
<tr>
	<td>
		<a href="{{url_for('add_author')}}">Add author</a>
	</td>
</tr>
{% endif %}
</table>
{% endblock %}
