{% extends 'auth.html' %}
{% block content %}
<table>
{% for book in books %}
<div id="book{{book.id}}">
<tr>
	<td>
		{{ book.name }}
	</td>
	{% if current_user.is_authenticated() and current_user.role > 0 %}
	<td>
		<form action="{{url_for('edit_book', book_id=book.id)}}">
			<input type="submit" value="&#9998;">
		</form>
	</td>
	<td>
		<form action="{{url_for('remove_book', book_id=book.id)}}">
			<input type="submit" value="X">
		</form>
	</td>
	{% endif %}
</tr>
</div>
{% endfor %}
{% if current_user.is_authenticated() and current_user.role > 0 %}
<tr>
	<td>
		<a href="{{url_for('add_book')}}">Add book</a>
	</td>
</tr>
{% endif %}
</table>
{% endblock %}
