<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% block title %}
{% endblock %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="layout">
<div id="header-shell">
	<div id="header">
		{% block auth %}
		{% endblock %}
	</div>
	<div id="top">
		<a href="{{url_for('books')}}">Books</a></li>
		<a href="{{url_for('authors')}}">Authors</a></li>
	</div>
</div>
{% block content %}
{% endblock %}
</div>
<script>
	var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='js/json3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
{% block script %}
{% endblock %}
</body>
</html>
